version: 1
send_anonymous_usage_stats: false
project_id: 36bd814f-1cb5-402a-8d9c-d3219c38f2b3
plugins:
  extractors:
    - name: tap-eodhistoricaldata
      namespace: tap_eodhistoricaldata
      pip_url: /tap-eodhistoricaldata
      executable: tap-eodhistoricaldata
      capabilities:
        - discover
        - catalog
      settings:
        - name: api_token
        - name: start_symbol
        - name: symbols
          kind: array
    - name: tap-csv
      config:
        files:
          - entity: raw_gainy_industries
            file: data/gainy_industries.csv
            keys: ["id"]
          - entity: raw_ticker_industries
            file: data/industry_tickers.csv
            keys: ["Code"]
          - entity: raw_collections
            file: data/collections.csv
            keys: ["id"]
          - entity: raw_interests
            file: data/interests.csv
            keys: ["id"]
          - entity: raw_countries
            file: data/countries.csv # https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.json
            keys: ["name", "alpha-2", "alpha-3"]
  loaders:
    - name: target-postgres
      variant: transferwise
      pip_url: pipelinewise-target-postgres
      config:
        batch_size_rows: 100
        parallelism: 5
  transformers:
    - name: dbt
      pip_url: dbt==0.20.1
      config:
        target: postgres
        models: '*'
  orchestrators:
    - name: airflow
      pip_url: psycopg2-binary==2.9.1 apache-airflow==2.1.2 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.1.2/constraints-${MELTANO__PYTHON_VERSION}.txt
      config:
        core:
          sql_alchemy_conn: $AIRFLOW_DATABASE_URI
          executor: LocalExecutor
schedules:
  - name: csv-to-postgres
    extractor: tap-csv
    loader: target-postgres
    transform: run
    interval: '@daily'
    start_date: 2021-09-03 13:52:48.598227

  - name: eodhistoricaldata-to-postgres-0
    extractor: tap-eodhistoricaldata
    loader: target-postgres
    transform: run
    interval: '@daily'
    start_date: 2021-06-17 10:40:58.742133
#    env:
#      TAP_EODHISTORICALDATA_SYMBOLS: '["GOOG","FB","PLUG","MSFT","HTHT","BA","VALE", "PSTG","ABBV","F","BMY","GM","LUV","AAPL", "ABNB","ATVI","COIN","JNJ","PFE","RIOT","TSLA"]'
